.logoFarm {
    height: 50px;
    border-radius: 40%;
}
.logoFarm2 {
    height: 30px;
    border-radius: 10%;
}

.saludo {
    text-align: center;
    background-color: rgb(239, 210, 167);
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
.saludoP {
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
}
.contacto {
    margin-left: 25%;
    margin-top: 100px;
    width: 50%;
    padding: 20px;
    
    background-color: antiquewhite;
    text-align: center;
}
a {
    padding: 5px;
    text-decoration: none;
    color: black;
}
.imagen {
    width: 20%;
}
.items {
    display: grid;
    grid-template-columns: 40% 40%;
    text-align: center;
}
.DesplegableIt {
    position: relative;
  }
  
.Desplegable {
  position: absolute;
  
  right: 0;
  z-index: 999;
  background-color: white;
  box-shadow: 0px 0px 16px rgba(12, 11, 11, 0.2);
  border-radius: 4px;
  padding: 8px;
  width: 300px;
}
.globo {
    background-color: red;
    border-radius: 20%;
    padding: 4px 8px;
    color: black;
  }
.valor {
    color: red;
}
.tienda1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    justify-items: center;
    margin-top: 10px;
}
.tarjeta {
    
    width: 300px; 
    height: 400px;
    border: 1px solid grey;
    border-radius: 10%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
        
}
.u {
    text-align: center;
}
.u2 {
    text-align: center;
    color: blue;
}
.u3 {
    text-align: center;
    
    width: 7rem;
    height: 7rem;
}
.botones {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 20px;
}
.add{
    background-color: rgb(93, 188, 188);
    color: black;
    border: none;
    border-radius: 10%;
    padding: 0.4rem 0.7rem;
    margin-right: 1rem;
    box-shadow: 5px;
}
.elim {
    
    background-color: red;
    color: white;
    border: none;    
    width: 25px;
    height: 25px;
    box-shadow: 5px;
     
}

